<section class="colophon">
    <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">Alla rättigheter reserverade</span>.</section>
    <section class="poweredby">Sajten drivs med <a class="icon-ghost" href="http://ghost.org">Ghost</a> och stora mängder kaffe.</section>
</section>
<section class="bottom">
    <section class="attribution">
        <a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software - A fork of the Saga theme</a>.
    </section>
</section>
